@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body class="aboutImage">

    <p>Use this area to provide additional information.</p>

    <a href="https://www.google.com/" target="_blank">Click here to know about us</a>
</body>
