@{
    ViewBag.Title = "This is the about page,learn about us in this page";
    ViewBag.pageHeading = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content eshop">
    <div class="container">
        <div class="default-style about">
            <h2>About Us</h2>
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <p>
    CD Packaging Printing
    Custom CD Packaging, Custom DVD Packaging & CD Packaging Printing.
    Our professional disc and packaging products are a culmination of over 20 years of experience in the disc making business.
    We’ve manufactured millions of discs and customized packaging for clients around the World.
    Our printing process utilizes the latest technology to achieve the finest details and most vibrant color prints possible.
    Not only do we make the World’s best disc packaging, we stand behind each project we sell with our renowned CD Duplication guarantee.
</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i>The Best Movies</li>
                        <li><i class="fa fa-check"></i>All seasons of Lost and The Office</li>
                        <li><i class="fa fa-check"></i>The Newest Movies Online</li>
                       
                    </ul>
                </div>
                <div class="col-sm-5 col-md-6">
                    <img src="~/assets/images/officespace.jpg" class="img-responsive" alt="">
                </div>
            </div>
      

            <div class="services">
                <h2 class="text-center">Our Services</h2>
                <div class="row row-no-padding">

                    <!-- SERVICE - START -->
                    <div class="col-xs-6 col-sm-4">
                        <div class="service">
                            <i class="fa fa-star"></i>
                            <h3>FREE SHIPPING ON ALL ORDRES</h3>
                            <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                        </div>
                    </div>
                    <!-- SERVICE - END -->
                    <!-- SERVICE - START -->
                    <div class="col-xs-6 col-sm-4">
                        <div class="service">
                            <i class="fa fa-heart"></i>
                            <h3>AMAZING CUSTOMER SERVICE</h3>
                            <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                        </div>
                    </div>
                    <!-- SERVICE - END -->
                    <!-- SERVICE - START -->
                    <div class="col-xs-6 col-sm-4">
                        <div class="service">
                            <i class="fa fa-rocket"></i>
                            <h3>NO CUSTOMS OR DUTY FEES!</h3>
                            <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                        </div>
                    </div>
                    <!-- SERVICE - END -->
                   

                </div>

            </div>

        </div>
    </div>
</section>
