@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="homeImg ">
    <!-- Removing picture from homepage, added to header bar
    <img src="https://cdn2.iconfinder.com/data/icons/mammals-ii/300/19-512.png" alt="Bison Icon" align="right" height="250" width="250" />
        -->
    <section class="content eshop">
        <div class="container">
            <div class="default-style about">
                <h2>Find Us in St. Cloud</h2>
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        @*Embedded Map*@
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22350.577659306444!2d-94.14915475!3d45.553902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b46072349d4bed%3A0x66eee01fdf0771f8!2sSt.+Cloud+State+University!5e0!3m2!1sen!2sus!4v1525063097587" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                   <div class="col-sm-5 col-md-6">
                        <img src="assets/images/slide-3.jpg" class="img-responsive" alt="">
                    </div>
                </div>
              </div>
           </div> 
    </section>
   
    @*Services thing*@
    <section class="content services services-3x border-top border-bottom">
        <div class="container">
            <div class="row row-no-padding">

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-star"></i>
                        <h3>FREE SHIPPING ON ALL ORDRES</h3>
                        <p>Rent From your home!!</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-heart"></i>
                        <h3>AMAZING CUSTOMER SERVICE</h3>
                        <p>Come to our store and find out for yourself!</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-rocket"></i>
                        <h3>ONLY THE NEWEST MOVIES</h3>
                        <p>come in to our store to find all of our oldies.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

        </div>
    </section>




    <!--Containers-->
    <!--
    <div class="row">
        <div class="col-md-4">
            <h1>CD & DVD Packages</h1>
            <p>
                Bison Disc is a trusted supplier for CD & DVD projects serving clients nationwide with over 20 years of experience.
                Our product excellence and legendary customer service is your solution to getting your order done right! 100% product guarantee
            </p>
            <p><a class="btn btn-default" href="http://www.bisondisc.com/packages/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h1>Upgrade options</h1>
            <p>Disc Package Upgrades for DVD and CD Duplication Projects</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h1>Resources & Help</h1>
            <p>
                Bison Disc Offers Resources for Submitting Files, Design Templates, and more.
                We are the Leading Resource for CD Duplication, CD Printing, DVD Duplication and CD mailers.
            </p>
            <p><a class="btn btn-default" href="http://www.bisondisc.com/resources/">Learn more &raquo;</a></p>
        </div>
    </div>
        -->
</body>