@using Microsoft.AspNet.Identity
@model Sprint_Zero.Models.Cart

@if (!Request.IsAuthenticated)
{
    using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { id = "CheckOut", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <td>
            @Html.ActionLink("CheckOut", "Login", "Account")
        </td>
    }
}
else
{
    <td>
       
        @Html.ActionLink("CheckOut", "CheckOut", "Carts", new { id = @Model.Id } )
    </td>
}
